body {
    margin: 10vw;
    margin-top: 50px;
    margin-bottom: 50px;
    
    display: flex;
    justify-content: center;
    align-items:center;

    padding-bottom: 30px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,.7) 0%, rgba(148,187,233,0.651727414598652) 78%); 
    background-repeat: no-repeat;
    
}

.tocenter { 
    padding: 100px;
    border: 3px solid rgb(136, 101, 113);
    float: inline-end;
    padding-left: 80px;
    padding-right: 80px;
    border-right-width: 3px;
    border-left-width: 3px;
    border-top-width: 3px;
    width: 888.348;
    border-bottom-width: 3px;
    padding-top: 30px;

    width: 900px;
    border-radius: 8px;

    box-shadow:15px 15px 15px 10px grey; 
}

.reset {
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .9s ease-in-out;
            transition:         transform .9s ease-in-out;
}

.reset:hover {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
}

#players {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 27px;
    

    font-size: 1.6vw;
    font-weight: bolder;
}
.images {
   float: left;
   display: grid;
}

.r, .p, .s {
    cursor: pointer;
    padding: 3.5px;
    transition: box-shadow .3s;
    border-radius:8px;
    border: 0.5px solid #ccc;
}

.r:hover {
    box-shadow: 0 0 5px rgba(33,33,33,.9); 
}

.p:hover {
    box-shadow: 0 0 5px rgba(33,33,33,.9); 
}

.s:hover {
    box-shadow: 0 0 5px rgba(33,33,33,.9); 
}

.imagesAI {
    float: right;
    display: grid;
}

.AI {
    padding: 4px;
}

.container {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    padding-top: 20px;

    padding-bottom: 20px;    
}

.score {
    text-align: center;
    font-size: 1.9vw;
    padding-top: 20px;
}

#high {
    margin-bottom: 120px;
}

.count {
    text-align: center;

    font-size: 2.5vw;
}